

body{
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 20px;
    background-position: cover;
}

.card{
    background: transparent;
    border-radius: 8px;
    box-shadow:inset;
    border-color: azure;
     border: 1px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(20px);
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.container{
    padding: 30px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    color: white;
}

input{
    width:80%;
    padding: 10px;
    margin:15px 0;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
}

label{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.option{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    white-space: nowrap;
    column-gap: 8px;
    font-size: 12px;
}
.card a{
    color: blueviolet;
    font-size: 12px;
}

.card a:hover{
    text-decoration: underline;
}
 .checkbox input{
    accent-color: blueviolet;
 }
.checkbox label{
    font-size: 12px;
    user-select: none;
    color: rgb(253, 253, 253);
    cursor: pointer;
}

.button{
    background: blueviolet;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;

}

.signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
 .forget{
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
  
} 
.container h1 {
  font-size: 22px;
  color: #f1f3f6;
  line-height: 1.8;
}

/* Optional hover animation */
.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

.container{
    padding: 30px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

input{
    width:80%;
    padding: 10px;
    margin:15px 0;
    border: 1px;
    border-radius: 8px;
    font-size: 16px;
}

.button{
    background: rgb(147, 42, 245);
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button:hover{
    background: #8a2be2;
}

.login{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.login a{
    color: blueviolet;
    text-decoration: none;
}

.login a:hover{
    text-decoration: underline;
}

.backlog{
    color:rgb(4, 12, 235);
    font-size: medium;
    text-align: right;
}